form{
    background-color: brown;
    width: 70%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.campos{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    padding: 10px;
}