form{
    background-color: #ED1C24;
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.campos{
    border-radius: 30px;
}
button{
    border-radius: 30px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Betania Patmos GDL', sans-serif;
    text-align: center;
    color: #ED1C24;
}